@import "tailwindcss";

:root {
  --primary: #000000;
  --secondary: #FFFFFF;
  --background: #FFFFFF;
  --gray: #A1A1A1;
  --light-gray: #e7e7e7;
  --surface: #1F1F1F;
  --light-surface: #525252;
  --border: #D4D4D4;
  --text-primary: #000000;
  --text-secondary: #A1A1A1;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {}